{% extends "default.twig" %}

{% block body %}
<div class="container">
  <a class="button" href="{{path_for("generate")}}">Generate data +20</a>
  <a class="button" href="#">Index data to elasticsearch</a>
</div>

{% endblock %}
